doctype html
html(lang="en" encoding="utf8")
  head
    title Ben Little | Resume
    meta(
      name="description",
      content="Ben Little. Software Engineer, Mathematician, and Computer Scientist in Louisville, CO.")
    link(rel="canonical", href="https://benlittle.dev/cv")
    link(rel="stylesheet", type="text/css", href="https://benlittle.dev/style.css")
  body
    h1 Ben Little's Resume
    a(href="/cv/resume.html") HTML
    a(href="/cv/resume.pdf") PDF
    a(href="/cv/resume.json") JSON
